{% extends "base.html" %}

{% block content %}
<div class="vh-100">
    <h1 class="text-center mb-4">О нас</h1>
    <div class="about-content">
        <p>
            Добро пожаловать в "Территорию игр" — ваш лучший выбор для настольных игр, варгеймов, 
            головоломок и других увлекательных развлечений! Мы предлагаем уникальный ассортимент, 
            созданный для того, чтобы радовать любителей игр всех возрастов.
        </p>
        <p>
            Наша миссия — подарить радость общения, вдохновить на творчество и объединить людей через мир игр. 
            Мы всегда стремимся обеспечить наших клиентов качественной продукцией и лучшим сервисом.
        </p>
        <p>
            Свяжитесь с нами для дополнительной информации или посетите наш магазин — мы всегда рады видеть вас!
        </p>
        <p>
            Контакты:
            <br>Телефон: +7 (999) 123-45-67
            <br>Email: info@territorygames.ru
        </p>
    </div>
</div>
{% endblock %}
