{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-form p-4 rounded shadow">
        <!-- Заголовок -->
        <h2 class="text-center mb-4">Вход</h2>

        <!-- Форма входа -->
        <form method="post">
            {% csrf_token %}

            <!-- Поле имени пользователя -->
            <div class="form-group mb-3">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control rounded-pill" }}
            </div>

            <!-- Поле пароля -->
            <div class="form-group mb-3">
                {{ form.password.label_tag }}
                {{ form.password|add_class:"form-control rounded-pill" }}
            </div>

            <!-- Кнопка входа -->
            <button type="submit" class="btn btn-primary btn-block rounded-pill mb-3">Войти</button>

            <!-- Ссылка для регистрации -->
            <div class="text-center">
                <p>Еще нет аккаунта? <a href="{% url 'Game_Territory:register' %}" class="text-primary">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
