{% extends "Game_Territory/profile.html" %}

{% block cabinet_content %}
<h5>Мои заказы</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Сумма</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
       {% for order in orders %}
<tr>
    <td>{{ order.id }}</td>
    <td>{{ order.date }}</td>
    <td>{{ order.status }}</td>
    <td>
        {{ order.total_price }} руб.
        <!-- Дополнительная отладка -->
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.product.name }}: {{ item.product.price }} x {{ item.quantity }}</li>
            {% endfor %}
        </ul>
    </td>
    <td>
        <a href="{% url 'Game_Territory:order_detail' order.id %}" class="btn btn-sm btn-primary">Подробнее</a>
    </td>
</tr>
{% endfor %}

    </tbody>
</table>
{% endblock %}
