{% extends "base.html" %}
{% load static %}
{% block content %}
{#<div class="container mt-5">#}
    <h2 class="text-center mb-4">Каталог товаров</h2>
    <div class="card-list">
        {% for product in products %}
            <div class="card">
                <!-- Изображение товара -->
                {% if product.image_url %}
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'Game_Territory/images/placeholder.jpg' %}" alt="Изображение недоступно">
                {% endif %}

                <!-- Информация о товаре -->
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                    <p class="font-weight-bold">{{ product.price }} руб.</p>
                </div>

                <!-- Кнопки действий -->
                <div class="d-flex flex-column align-items-end">
                    <a href="{% url 'Game_Territory:product_detail' product.id %}" class="btn btn-primary mb-2">Подробнее</a>
                    <a href="{% url 'Game_Territory:add_to_cart' product.id %}" class="btn btn-outline-primary">В корзину</a>
                </div>
            </div>
        {% empty %}
            <p class="text-center">Товары не найдены.</p>
        {% endfor %}
    </div>
{#</div>#}
{% endblock %}
