{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Личный кабинет</h2>
    <div class="d-flex">
        <!-- Боковое меню -->
        <div class="list-group">
    <a href="{% url 'Game_Territory:personal_info' %}" class="list-group-item list-group-item-action {% if active_tab == 'personal_info' %}active{% endif %}">
        Личная информация
    </a>
    <a href="{% url 'Game_Territory:my_orders' %}" class="list-group-item list-group-item-action {% if active_tab == 'my_orders' %}active{% endif %}">
        Мои заказы
    </a>
    {% if is_admin or is_manager %}
        <a href="{% url 'Game_Territory:admin_panel' %}" class="list-group-item list-group-item-action {% if active_tab == 'admin_panel' %}active{% endif %}">
            Админ панель
        </a>
    {% endif %}
</div>


        <!-- Основной контент -->
        <div class="flex-grow-1 content-section">
            {% block cabinet_content %}
            <p>Выберите вкладку из меню, чтобы просмотреть информацию.</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
