<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Территория игр</title>
    <!-- Подключение Bootstrap CSS и дополнительные стили -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'Game_Territory/css/style.css' %}" rel="stylesheet">
    
</head>

<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid custom-navbar">
            <!-- Логотип -->
            <a class="navbar-brand" href="{% url 'Game_Territory:home' %}">
                <img src="{% static 'Game_Territory/images/logo.png' %}" alt="Logo" height="40">
                <span class="store-name">Game Territory</span>
            </a>
            <!-- Кнопка для мобильного меню -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Основное меню -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'Game_Territory:product_list' %}">Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'Game_Territory:about' %}">О нас</a></li>
                </ul>
                <!-- Кнопки входа/выхода -->
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Game_Territory:profile' %}">Мой кабинет</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link logout-link" href="#" onclick="document.getElementById('logout-form').submit();">Выход</a>
                            <form id="logout-form" action="{% url 'Game_Territory:logout' %}" method="post" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Game_Territory:login' %}">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Game_Territory:register' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Основной контент -->
    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="custom-footer">
            <p>&copy; 2024 Территория игр</p>
        </div>
    </footer>

    <!-- Подключение Bootstrap JS и jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
